@menu-width: 150px;
@menu-background: #191818;

.obs-menu {
	box-sizing: border-box;
	margin-left: -@menu-width;
	width: @menu-width;
	position: fixed;
	background: @menu-background;
	top: 0;
	bottom: 0;
	z-index: 3;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;		// Enables inertia based scrolling on iOS

	.obs-menu-heading, a {
		text-decoration: none;
		color: inherit;
		white-space: nowrap;

		padding: 0.5em 1em;
		display: block;
	}

	.obs-menu-heading {
		text-transform: uppercase;
		color: #565d64;
		font-weight: bold;
		font-size: 1.2em;
	}

	

	li {
		color: #777;

		a {
			color: inherit;

			&:hover {
				background-color: #eee;
			}
		}

		&.selected {
			color: #fff;
			background-color: #1f8dd6;
		}
	}

	ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

// Media Queries
@media (min-width: 48em) {
	.header, .content {
		padding-left: 2em;
		padding-right: 2em;
	}

	#layout {
		padding-left: 150px;
		left: 0;
	}

	#menu {
		left: 150px;
	}

	.menu-link {
		position: fixed;
		left: 150px;
		display: none;
	}

	#layout.active .menu-link {
		left: 150px;
	}
}

@media (max-width: 48em) {
	#layout.active {
		position: relative;
		left: 150px;
	}
}